@model LexFlix.Models.ViewModels.BestCustomerVM

<div>
    <div class="text-center">
        <h4 style="color:red"><b>Customer of the month</b></h4>
        <h5 style="color:red"><b>@Model.FirstName @Model.LastName</b></h5>
        <p style="color:red"> <b>@Model.TotalOrderCost kr</b></p>
    </div>
</div>
