

<div class="text-center">
    <h3 style="color:white">
        We do not have any purchase registered under the email address provided,<br />
       feel free to add items to your shopping cart and then register at the end of your visit.</h3>

    <a class="navbar-brand text-black" asp-area="" asp-controller="Home" asp-action="Index"><h1 style="color:white"><i class="bi bi-house-fill"></i></h1></a>
</div>